.venv

data/raw/*.full.csv

data/processed/*.full.csv

.venv/
env/
venv/

__pycache__/
*.py[cod]
*.pyo

*.log
spark-warehouse/
metastore_db/
.checkpoint/
.derby/

*.tmp
*.swp
*.bak
*.old
*.out

output/
results/

# IDEs
.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db
